/*
 * Copyright (c) 2022 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#include "node_free.h"
#include "optimot.h"

#define ___ &trans

#define DEF 0
#define SYM 1
#define NUM 2
#define NAV 3
#define GAM 4


// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LGUI k1 &ht LALT k2 &ht LCTRL k3 &ht LSHFT k4
#define HRMR(k1,k2,k3,k4) &ht RSHFT k1 &ht RCTRL k2 &ht RALT k3 &ht RGUI k4


// #undef COMBO_TERM
// #define COMBO_TERM 40  // timeout of 40ms (default is 30ms if omitted)
// COMBO(combo_agrav,  &agrv, LB3 LB4, 0)  
// COMBO(combo_q,   &kp FR_Q, LB7 LB8, 0)  
// COMBO(combo_underscore,  &kp UNDERSCORE, LB25 LB26, 0)  
// COMBO(combo_minus,  &kp MINUS,  LB27 LB28, 0)  
// COMBO(combo_caret,  &kp CARET,  LB31 LB32, 0)  
// COMBO(combo_cced,  &cced,  LB32 LB33, 0)  

/*
          ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
          │  #  │  À  │  J  │  O  │  É  │  B  │   │  F  │  D  │  L  │ ' ? │  X │  $   │
          │  @  │  A  │  I  │  E  │  U  │ , ; │   │  P  │  T  │  S  │  R  │  N  │ ^ ! │
          │ GUI │  K  │  Y  │  È  │ . : │  W  │   │  G  │  C  │  M  │  H  │  V  │  Z  │
          ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                            │ Esc │ SPC │TAB  │   │Enter│ BSPC│ DEL │
                            ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯
*/

MACRO(q_u, bindings = <&kp FR_Q &kp FR_U>;)

MORPH_UP(agrv, &kp FR_AGRV, &agrv_up)
MORPH_UP(eacu, &kp FR_EACU, &eacu_up)
MORPH_UP(egrv, &kp FR_EGRV, &egrv_up)

MORPH_UP(caret_excl, &kp FR_CARET, &kp FR_EXCL)
MORPH_UP(comma_semi, &kp FR_COMMA, &kp FR_SEMI)
MORPH_UP(dot_colon,  &kp FR_DOT,   &kp FR_COLON)
MORPH_UP(sqt_qmark,  &kp FR_SQT,   &kp FR_QMARK)

TAPDANCE(td_ctrl_esc, <&kp LCTRL>, <&kp ESC>)

LAYER(DEFAULT,
  &kp TAB       &agrv     &kp FR_J  &kp FR_O   &eacu       &kp FR_B         &kp FR_F     &kp FR_D  &kp FR_L  &sqt_qmark  &kp FR_X  &kp DOLLAR
  &kp AT_SIGN   HRML(FR_A,FR_I,     FR_E,      FR_U)       &comma_semi      HRMR(FR_P,   FR_T,     FR_S,     FR_R)       &kp FR_N  &caret_excl
  &kp LGUI      &kp FR_K  &kp FR_Y  &egrv      &dot_colon  &kp FR_W         &kp FR_G     &kp FR_C  &kp FR_M  &kp FR_H    &kp FR_V  &kp FR_Z
                                    &kp ESC    &lt NAV SPACE   &mt TAB      &lt ENTER    &lt NUM BSPC  &kp DEL
)

/*
          ┌─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
          │     │  <  │  >  │ & œ │  |  │  `  │   │  ’  │  {  │  }  │  [  │  ]  │  —  │
          │     │  @  │  _  │  "  │  -  │  +  │   │  *  │  /  │  =  │  (  │  )  │  ¨  │
          │     │  «  │  »  │  ~  │  \  │  %  │   │  #  │  Ç  │  €  │  $  │  ù  │  …  │
          └─────┴─────┴─────┴─────┴─────┴─────┘   └─────┴─────┴─────┴─────┴─────┴─────╯
*/

MORPH_UP(cced, &kp FR_CCED, &cced_up)
MORPH(ampr_oe, &kp FR_AMPR, MOD_LCTL, &oe_lo)

LAYER(SYMBOLS,
  ___  &kp FR_LT   &kp FR_GT    &ampr_oe     &kp FR_PIPE   &grave          &apos        &kp FR_LCBR  &kp FR_RCBR   &kp FR_LBRC  &kp FR_RBRC  &emdash
  ___  &kp FR_AT   &kp FR_UNDS  &kp FR_DQT   &kp FR_MINUS  &kp FR_PLUS     &kp FR_ASTR  &kp FR_SLSH  &kp FR_EQUAL  &kp FR_LPRN  &kp FR_RPRN  &kp FR_DIAE
  ___  &qml        &qmr         &tild        &kp FR_BSLS   &kp FR_PRCNT    &kp FR_HASH  &cced        &kp FR_EURO   &kp FR_DLR   &kp FR_UGRV  &ddd
  ___  ___  ___  ___  ___  ___
)

/*
          ┌─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
          │     │ F1  │ F2  │ F3  │ F4  │ F5  │   │ F6  │ F7  │ F8  │ F9  │ F10 │ F11 │
          │     │  1  │  2  │  3  │  4  │  5  │   │  6  │  7  │  8  │  9  │  0  │ F12 │
          │     │  ¹  │  ²  │  ³  │     │     │   │     │     │     │     │  °  │     │
          └─────┴─────┴─────┴─────┴─────┴─────┘   └─────┴─────┴─────┴─────┴─────┴─────╯
*/

LAYER(NUMBERS,
  ___  &kp F1      &kp F2      &kp F3      &kp F4     &kp F5       &kp F6     &kp F7     &kp F8     &kp F9     &kp F10     &kp F11
  ___  &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_N4  &kp KP_N5    &kp KP_N6  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_N0   &kp F12
  ___  &win_1up        &kp FR_2UP  &win_3up        &none      &none        &none      &none      &none      &none      &kp FR_DEG  &none
  ___  ___           ___       ___         ___        ___
)

/*
          ┌─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
          │     │     │     │     │RELO │ ⇧⇧  │   │PREV │PLAY │NEXT │MUTE │VDWN │ VUP │
          │     │UNDO │ CUT │COPY │PASTE│REDO │   │CAPS │  ←  │  ↓  │  ↑  │  →  │     │
          │     │     │     │     │SAVE │     │   │ INS │HOME │ PDN │ PUP │ END │PSCRN│
          └─────┴─────┴─────┴─────┴─────┴─────┘   └─────┴─────┼─────┼─────┴─────┴─────╯
                                                        │ DEL │
                                                        └─────╯
*/

LAYER(NAVIG,
  ___  &none         &none        &none         &kp LC(LS(FR_R))  &double_shift   &kp C_PREV  &kp C_PP  &kp C_NEXT  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP
  ___  &kp LC(FR_Z)  &kp WIN_CUT  &kp WIN_COPY  &kp WIN_PASTE     &kp WIN_REDO    &kp CAPS    &kp LEFT  &kp DOWN    &kp UP      &kp RIGHT     &none
  ___  &none         &none        &none         &kp LC(FR_S)      &none           &kp INS     &kp HOME  &kp PG_DN   &kp PG_UP   &kp END       &kp PSCRN
  ___                ___          ___           ___               ___             &kp DEL
)

/*
          ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
          │ TAB │  T  │  A  │ Z ↑ │  E  │  R  │   │  7  │  8  │  9  │     │     │ def │
          │ ESC │SHFT │ Q ← │ S ↓ │ D → │  F  │   │  4  │  5  │  6  │     │     │     │
          │ CTRL│  B  │  W  │  X  │  C  │  V  │   │  1  │  2  │  3  │     │     │     │
          ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                            │ ALT │  G  │ SPC │   │ RET │ GUI │  0  │
                            ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯
*/
LAYER(GAMING,
  &kp TAB    &kp FR_T   &kp FR_A  &kp FR_Z  &kp FR_E  &kp FR_R    &kp KP_N7  &kp KP_N8  &kp KP_N9  &none  &none  &to DEF
  &kp ESC    &kp LSHFT  &kp FR_Q  &kp FR_S  &kp FR_D  &kp FR_F    &kp KP_N4  &kp KP_N5  &kp KP_N6  &none  &none  &none
  &kp LCTRL  &kp FR_B   &kp FR_W  &kp FR_X  &kp FR_C  &kp FR_V    &kp KP_N1  &kp KP_N2  &kp KP_N3  &none  &none  &none
                                  &kp LALT  &kp FR_G  &kp SPC     &kp RET    &kp LGUI   &kp KP_N0
)