#include <behaviors.dtsi>
#include <behaviors/num_word.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "keypos_42keys.h"

#include "helper.h"
#include "optimot.h"

#define DEF 0
#define NUM 1
#define NAV 2
#define FUN 3
#define GAM 4

#define ___ &trans

#define QUICK_TAP_MS 175


/* Global settings */


&sk {  // sticky-key config
    release-after-ms = <900>;  // release after 0.6s
    quick-release;             // no double capitalization when rolling keys
};

&sl {  // sticky-layer config
    ignore-modifiers;          // allow chording sticky mods & layers
};

/*
  layer-tap config
  Quickly tap-tap-holding the lt button will repeat the tap behavior
  For example enter-enter-hold, will output multiple enter while you
  keep holding the key.
  But holding enter without double tapping, will activate the layer.
*/ 
&lt { 
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
};

/* Homerow mods */

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4  // right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                      // thumbs

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_HOLD_TAP(NAME, \
        flavor = "balanced"; \
        tapping-term-ms = <280>; \
        quick-tap-ms = <QUICK_TAP_MS>; \
        require-prior-idle-ms = <150>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <TRIGGER_POS>; \
        hold-trigger-on-release; \
    )
MAKE_HRM(hml, &kp, &kp, KEYS_R THUMBS)  // left-hand HRMs
MAKE_HRM(hmr, &kp, &kp, KEYS_L THUMBS)  // right-hand HRMs

// MAKE_HRM(hml_repeat, &kp, &key_repeat, KEYS_R THUMBS)  // used for HRM-combo
// MAKE_HRM(hmr_lpar_lt, &kp, &lpar_lt, KEYS_L THUMBS)    // "    "   "   "
// MAKE_HRM(hmr_rpar_gt, &kp, &rpar_gt, KEYS_L THUMBS)    // "    "   "   "

#include "combos.dtsi"

/* Smart layers */

&caps_word {  // mods deactivate caps-word, requires PR #1451
    continue-list = <UNDERSCORE MINUS LCTRL LALT LGUI LSHFT RCTRL RALT RGUI RSHFT BACKSPACE
    BE_HASH BE_AT BE_AGRV BE_EACU BE_EGRV BE_UGRV BE_CARET BE_COMMA BE_DOT BE_SQT BE_CCED>;
    /delete-property/ ignore-numbers;
    /delete-property/ ignore-modifiers;
};

&num_word {  // num-word, requires PR #1451
    continue-list = <BSPC DEL BE_DOT BE_COMMA BE_PLUS BE_MINUS BE_ASTR BE_SLSH BE_EQUAL>;
    ignore-modifiers;
    ignore-numbers;
};

// ZMK_NAV_WORD({
//     continue-list = <LEFT DOWN UP RIGHT PG_UP PG_DN WIN_UNDO WIN_CUT WIN_COPY WIN_PASTE>;
//     ignore-modifiers;
// });

/ {
  behaviors {
    nav_word: nav_word {
      compatible = "zmk,behavior-auto-layer";
      #binding-cells = <1>;
      continue-list = <LEFT DOWN UP RIGHT PG_UP PG_DN WIN_UNDO WIN_CUT WIN_COPY WIN_PASTE>;
      ignore-modifiers;
    };
  };
};

/* Morph shift */

#define MORPH_UP(NAME, BINDING1, BINDING2) \
    ZMK_MOD_MORPH(NAME, \
        mods = <(MOD_LSFT|MOD_RSFT)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )

// tap: # | shift + tap: %
MORPH_UP(hash_prcnt, &kp BE_HASH,  &kp BE_PRCNT)
// tap: @ | shift + tap: _
MORPH_UP(at_under,  &kp BE_AT,    &kp BE_UNDS)
// tap: ^ | shift + tap: !
MORPH_UP(caret_excl, &kp BE_CARET, &kp BE_EXCL)
// tap: , | shift + tap: ;
MORPH_UP(comma_semi, &kp BE_COMMA, &kp BE_SEMI)
// tap: . | shift + tap: :
MORPH_UP(dot_colon, &kp BE_DOT,   &kp BE_COLON)
// tap: ' | shift + tap: ?
MORPH_UP(sqt_qmark, &kp BE_SQT,   &kp BE_QMARK)
// tap: $ | shift + tap: €
MORPH_UP(dlr_eur,   &kp BE_DLR,   &kp BE_EURO)

MORPH_UP(win_agrv,  &kp BE_AGRV,  &win_agrv_up)
MORPH_UP(win_eacu,  &kp BE_EACU,  &win_eacu_up)
MORPH_UP(win_egrv,  &kp BE_EGRV,  &win_egrv_up)
MORPH_UP(win_cced,  &kp BE_CCED,  &win_cced_up)
MORPH_UP(win_ugrv,  &kp BE_UGRV,  &win_ugrv_up)

ZMK_TRI_STATE(swapper,
    bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
    ignored-key-positions = <LT2>;
)


/*
          ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
          │ # % │  À  │  J  │  O  │  É  │  B  │   │  F  │  D  │  L  │ ' ? │  Q  │  X  │
          │ @ _ │  A  │  I  │  E  │  U  │ , ; │   │  P  │  T  │  S  │  R  │  N  │ ^ ! │
          │  Ç  │  K  │  Y  │  È  │ . : │  W  │   │  G  │  C  │  M  │  H  │  V  │  Z  │
          ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                            │ ESC │ SPC │ TAB │   │Enter│ BSPC│ DEL │
                            ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯
*/

ZMK_LAYER(DEFAULT,
  &hash_prcnt   &win_agrv       &kp BE_J        &kp BE_O          &win_eacu        &kp BE_B     &kp BE_F      &kp BE_D        &kp BE_L          &sqt_qmark     &kp BE_Q        &kp BE_X
  &at_under     &hml LGUI BE_A  &hml LALT BE_I  &hml LCTRL BE_E   &hml LSHFT BE_U  &comma_semi  &kp BE_P      &hmr RSHFT BE_T &hmr RCTRL BE_S   &hmr RALT BE_R &hmr RGUI BE_N  &caret_excl
  &win_cced     &kp BE_K        &kp BE_Y        &win_egrv         &dot_colon       &kp BE_W     &kp BE_G      &kp BE_C        &kp BE_M          &kp BE_H       &kp BE_V        &kp BE_Z
                                &lt FUN ESC     &lt NAV SPACE     &kp TAB          &kp ENTER    &lt NUM BSPC  &kp DEL
)

/*
          ┌─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
          │     │     │  7  │  8  │  9  │  ³  │   │     │     │     │     │     │     │
          │     │  0  │  4  │  5  │  6  │  ²  │   │     │     │     │     │     │     │
          │     │     │  1  │  2  │  3  │  ¹  │   │     │     │     │     │     │     │
          ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                            │     │     │     │   │     │  X  │     │
                            ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯
*/

ZMK_LAYER(NUMBERS,
  ___   ___              &kp KP_N7          &kp KP_N8          &kp KP_N9         &win_3up      ___    ___    ___    ___   ___    ___
  ___   &hml LGUI KP_N0  &hml LALT KP_N4    &hml LCTRL KP_N5   &hml LSHFT KP_N6  &kp BE_2UP    ___    ___    ___    ___   ___    ___
  ___   ___              &kp KP_N1          &kp KP_N2          &kp KP_N3         &win_1up      ___    ___    ___    ___   ___    ___
                         ___                ___                ___               ___    ___    ___
)

/*
          ┌─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
          │     │     │     │ SWAP│     |     │   │REDO │PASTE│COPY │ CUT │UNDO │SAVE │
          │     │ GUI │ ALT │CTRL │SHIFT│     │   │CAPS │  ←  │  ↓  │  ↑  │  →  │RELOAD│
          │     │     │     │     │     │     │   │ INS │HOME │ PDN │ PUP │ END │PSCRN│
          ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                            │     │  X  │     │   │Enter│ BSPC│ DEL │
                            ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯
*/

ZMK_LAYER(NAVIG,
  ___  ___           ___          &swapper      ___         ___      &kp WIN_REDO   &kp WIN_PASTE  &kp WIN_COPY   &kp WIN_CUT   &kp WIN_UNDO  &kp WIN_SAVE
  ___  &kp LGUI     &kp LALT      &kp LCTRL     &kp LSHFT   ___      &kp CAPS       &kp LEFT       &kp DOWN       &kp UP        &kp RIGHT     &kp WIN_RELOAD
  ___  ___           ___          ___           ___         ___      &kp INS        &kp HOME       &kp PG_DN      &kp PG_UP     &kp END       &kp PSCRN
                                  ___           ___         ___      ___            ___            ___
)

/*
          ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
          │     │ F12 │ F12 │ F12 │ F12 │     │   │     │     │     │     │     │     │
          │     │ F11 │ F4  │ F5  │ F6  │     │   │     │ PREV│VDWN │ VUP │ NEXT│     │
          │     │ F10 │ F1  │ F2  │ F3  │     │   │     │     │     │     │     │     │
          ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                            │  X  │     │     │   │ STOP│PAUSE│ MUTE│
                            ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯
*/
ZMK_LAYER(FUNCTION,
   ___   &kp F12       &kp F7        &kp F8        &kp F9          ___        ___         ___           ___           ___           ___         ___
   ___   &hml LGUI F11 &hml LALT F4  &hml LCTRL F5 &hml LSHFT F6   ___        ___         &kp C_PREV    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT  ___
   ___   &kp F10       &kp F1        &kp F2        &kp F3          ___        ___         ___           ___           ___           ___         ___
                                     ___           ___             ___        &kp C_STOP  &kp C_PP      &kp C_MUTE
)

/*
          ╭─────┬─────┬─────┬─────┬─────┬─────╮   ╭─────┬─────┬─────┬─────┬─────┬─────╮
          │ TAB │  Q  │  W  │  E  │  R  │  T  │   │     │  7  │  8  │  9  │     │ DEF │
          │ SHFT│  A  │  S  │  D  │  F  │  G  │   │     │  4  │  5  │  6  │    │     │
          │ CTRL│  Z  │  X  │  C  │  V  │  B  │   │     │  1  │  2  │  3  │     │ GUI │
          ╰─────┴─────┴─────┼─────┼─────┼─────┤   ├─────┼─────┼─────┼─────┴─────┴─────╯
                            │ Esc │ SPC │ ALT │   │Enter│ BSPC│ DEL │
                            ╰─────┴─────┴─────╯   ╰─────┴─────┴─────╯
*/
ZMK_LAYER(GAMING,
  &kp TAB    &kp BE_Q   &kp BE_W  &kp BE_E  &kp BE_R  &kp BE_T    &none &kp KP_N7  &kp KP_N8  &kp KP_N9  &none  &to DEF
  &kp LSHFT  &kp BE_A   &kp BE_S  &kp BE_D  &kp BE_F  &kp BE_G    &none &kp KP_N4  &kp KP_N5  &kp KP_N6  &none  &none
  &kp LCTRL  &kp BE_Z   &kp BE_X  &kp BE_C  &kp BE_V  &kp BE_B    &none &kp KP_N1  &kp KP_N2  &kp KP_N3  &none  &kp RGUI
                                  &kp ESC   &kp SPACE &kp LALT    &kp ENTER  &kp BSPC   &kp DEL
)